body{
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    display:flex;
    justify-content: center;
    background-color: #615b5b;
    background-blend-mode:exclusion ;
    font-family: 'Roboto Mono', monospace;
}


.container{
    height: 90vh;
    width: 90vw;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-area: "aside main main" ;
    /* background-repeat:repeat(2); */
    border-radius: 20px;

}

.clear{
    height: 90vh;
    width: 90vw;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-area: "aside main main" ;
    /* background-repeat:repeat(2); */
    border-radius: 20px;
    background-image: url(./Assets/clear\ sky.jpg);
    background-size: cover;
    background-position: top;
}
.mist{
    height: 90vh;
    width: 90vw;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-area: "aside main main" ;
    /* background-repeat:repeat(2); */
    border-radius: 20px;
    background-image: url(./Assets/mistWeather.jpg);
    background-size: cover;
    background-position: top;
}
.cloudy{
    height: 90vh;
    width: 90vw;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-area: "aside main main" ;
    /* background-repeat:repeat(2); */
    border-radius: 20px;
    background-image: url(./Assets/cloudy\ wheather.jpg);
    background-size: cover;
    background-position: top;
}
.rain{
    height: 90vh;
    width: 90vw;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-area: "aside main main" ;
    /* background-repeat:repeat(2); */
    border-radius: 20px;
    background-image: url(./Assets/rain.jpg);
    background-size: cover;
    background-position: top;
}

.today-forecast{
    grid-column: 1/2;
    background-color: #d3d3d3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    opacity: .6;
    border-right: 5px solid ;
    border-color: #000000 ;
    z-index: 0;
}
.search-bar{
    width: max-content;
    background: transparent;
    border-bottom: 5px solid #c705f8;
    border-left: 5px solid #f80505;
    border-top: 5px solid #1a9744;
    border-right: 5px solid #f80505;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
}

#input-city{
    outline: none;
    border: none;
    height: 50px;
    font-size:medium;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

#input-city::placeholder{
    color: #616161;
    font-weight: 700;
}

#submit{
    height: 100%;
    width: 50px;
    background-color: #fff;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* main section */
.main-section{
    grid-column: 2/4;
}

.weather-forecast{
    margin-top: 100px;
}

.forecast-details{
    width: 90%;
    margin-inline: auto;
}
.forecast-details h1{
    font-size: 40px;
}

.forecast-details :nth-child(2){
    font-weight: 600;
    font-size: large;
}

.wrapper{
    width: 90%;
    height: 25%;
    padding-inline: 16px;
    /* background-color: #fff; */
    border-radius: 5px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: #d5ac68 #f1db9d;
    scrollbar-width:5px;
}

.wrapper::-webkit-scrollbar{
    width: 0px;
}