.card{
    height: 75px;
    width: 250px;
    border: none;
    box-sizing: border-box;
    box-shadow: 1px 1px 20px #4e4c4c;
    background-color: #666768;
    color: #000000;
    opacity: 100;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    z-index: 2;
    font-size: large;
}

.card:hover {
    background-color: #ddd9d9;
    box-shadow: inset 2px 2px 10px #7aadd6 , inset -2px -2px 10px #7aadd6;
    font-weight:900;
    border: 2px solid #7aadd6;
}

.hourly-forecast-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 90%;
}