@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@1&display=swap');



body{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #FEDEFF;
}

.cal-bg{
    margin-top: 5px;
    height: 600px;
    width: 400px;
    border: 2px solid #000;
    border-radius: 20px;
    background-color: #222020;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: space-around;
}

.screen{
    padding: 20px;
    height: 100px;
    width: 80%;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #000;
    box-shadow: inset 1px 1px 10px #000;
    font-size: x-large;
    font-weight: bold;
    overflow-x:scroll;
}

.btns{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    height: 350px;
    width: 85%;
    gap: 10px;

}
#clear{
    grid-column: 1/5;
    background-color: #d85151;
    color: #fff;
}

.calc-btns{
    font-size: x-large;
    font-weight: 700;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    box-shadow: inset 1px 1px 10px #000;
    cursor: pointer;    
    
}
.btn-oprt{
    background-color: #57be7e;
}

#result{
    background-color: #eb830d;
    color: #fff;
    box-shadow: inset 1px 1px 10px #000
}

footer>h3{
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
}

@media (min-width:200px) and (max-width:400px) {
    body{
        width: max-content;
    }
}