body::-webkit-scrollbar {
    width: 20px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #3d3d3c;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #060607;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #4b4a48;  /* creates padding around scroll thumb */
  }